:root {
            --ws-color-dark-50: 0, 0%, 34.5%;
            --ws-color-dark-100: 0, 0%, 32.2%;
            --ws-color-dark-200: 0, 0%, 29.8%;
            --ws-color-dark-300: 0, 0%, 25.9%;
            --ws-color-dark-400: 0, 0%, 23.1%;
            --ws-color-dark-500: 0, 0%, 19.6%;
            --ws-color-dark-600: 0, 0%, 16.9%;
            --ws-color-dark-700: 0, 0%, 14.1%;
            --ws-color-dark-800: 0, 0%, 10.2%;
            --ws-color-dark-900: 0, 0%, 4.3%;
            --ws-color-alt-dark-50: 0, 0%, 34.5%;
            --ws-color-alt-dark-100: 0, 0%, 32.2%;
            --ws-color-alt-dark-200: 0, 0%, 29.8%;
            --ws-color-alt-dark-300: 0, 0%, 25.9%;
            --ws-color-alt-dark-400: 0, 0%, 23.1%;
            --ws-color-alt-dark-500: 0, 0%, 19.6%;
            --ws-color-alt-dark-600: 0, 0%, 16.9%;
            --ws-color-alt-dark-700: 0, 0%, 14.1%;
            --ws-color-alt-dark-800: 0, 0%, 10.2%;
            --ws-color-alt-dark-900: 0, 0%, 4.3%;
            --ws-color-light-50: 0, 0%, 98%;
            --ws-color-light-100: 0, 0%, 96.1%;
            --ws-color-light-200: 0, 0%, 93.3%;
            --ws-color-light-300: 0, 0%, 87.8%;
            --ws-color-light-400: 0, 0%, 83.9%;
            --ws-color-light-500: 0, 0%, 78.8%;
            --ws-color-light-600: 0, 0%, 74.1%;
            --ws-color-light-700: 0, 0%, 69%;
            --ws-color-light-800: 0, 0%, 63.9%;
            --ws-color-light-900: 0, 0%, 58.8%;
            --ws-color-alt-light-50: 0, 0%, 98%;
            --ws-color-alt-light-100: 0, 0%, 96.1%;
            --ws-color-alt-light-200: 0, 0%, 93.3%;
            --ws-color-alt-light-300: 0, 0%, 87.8%;
            --ws-color-alt-light-400: 0, 0%, 83.9%;
            --ws-color-alt-light-500: 0, 0%, 78.8%;
            --ws-color-alt-light-600: 0, 0%, 74.1%;
            --ws-color-alt-light-700: 0, 0%, 69%;
            --ws-color-alt-light-800: 0, 0%, 63.9%;
            --ws-color-alt-light-900: 0, 0%, 58.8%;
            --ws-color-primary-50: 39, 87.5%, 93.7%;
            --ws-color-primary-100: 37, 87.5%, 84.3%;
            --ws-color-primary-200: 37, 89.2%, 74.5%;
            --ws-color-primary-300: 37, 89%, 64.5%;
            --ws-color-primary-400: 36, 88.9%, 57.5%;
            --ws-color-primary-500: 35, 89.2%, 52.7%;
            --ws-color-primary-600: 33, 86.3%, 51.4%;
            --ws-color-primary-700: 30, 83.4%, 49.6%;
            --ws-color-primary-800: 27, 85.2%, 47.6%;
            --ws-color-primary-900: 22, 87%, 45.1%;
            --ws-color-secondary-50: 39, 87.5%, 93.7%;
            --ws-color-secondary-100: 37, 87.5%, 84.3%;
            --ws-color-secondary-200: 37, 89.2%, 74.5%;
            --ws-color-secondary-300: 37, 89%, 64.5%;
            --ws-color-secondary-400: 36, 88.9%, 57.5%;
            --ws-color-secondary-500: 35, 89.2%, 52.7%;
            --ws-color-secondary-600: 33, 86.3%, 51.4%;
            --ws-color-secondary-700: 30, 83.4%, 49.6%;
            --ws-color-secondary-800: 27, 85.2%, 47.6%;
            --ws-color-secondary-900: 22, 87%, 45.1%;
            --ws-color-warning-50: 46, 100%, 94.1%;
            --ws-color-warning-100: 45, 100%, 85.1%;
            --ws-color-warning-200: 45, 100%, 75.5%;
            --ws-color-warning-300: 46, 100%, 65.5%;
            --ws-color-warning-400: 45, 100%, 57.8%;
            --ws-color-warning-500: 45, 100%, 51.4%;
            --ws-color-warning-600: 42, 100%, 50%;
            --ws-color-warning-700: 38, 100%, 50%;
            --ws-color-warning-800: 34, 100%, 50%;
            --ws-color-warning-900: 26, 100%, 50%;
            --ws-color-error-50: 351, 100%, 96%;
            --ws-color-error-100: 354, 100%, 90.2%;
            --ws-color-error-200: 0, 72.6%, 77.1%;
            --ws-color-error-300: 0, 68.7%, 67.5%;
            --ws-color-error-400: 1, 83.2%, 62.5%;
            --ws-color-error-500: 4, 89.6%, 58.4%;
            --ws-color-error-600: 1, 77.2%, 55.3%;
            --ws-color-error-700: 0, 65.1%, 50.6%;
            --ws-color-error-800: 0, 66.4%, 46.7%;
            --ws-color-error-900: 0, 74.3%, 41.2%;
            --ws-color-info-50: 199, 93.5%, 93.9%;
            --ws-color-info-100: 199, 92.4%, 84.5%;
            --ws-color-info-200: 199, 92.4%, 74.3%;
            --ws-color-info-300: 199, 91.3%, 63.9%;
            --ws-color-info-400: 199, 92%, 56.1%;
            --ws-color-info-500: 199, 97.6%, 48.4%;
            --ws-color-info-600: 200, 96.6%, 45.7%;
            --ws-color-info-700: 202, 96.2%, 41.8%;
            --ws-color-info-800: 203, 95.9%, 37.8%;
            --ws-color-info-900: 207, 96.2%, 31%;
            --ws-color-success-50: 127, 47.1%, 93.3%;
            --ws-color-success-100: 126, 46.3%, 83.9%;
            --ws-color-success-200: 128, 47.1%, 73.3%;
            --ws-color-success-300: 129, 48.2%, 62.2%;
            --ws-color-success-400: 131, 49.4%, 52.7%;
            --ws-color-success-500: 136, 75.1%, 41%;
            --ws-color-success-600: 139, 89.8%, 34.7%;
            --ws-color-success-700: 139, 100%, 29.2%;
            --ws-color-success-800: 136, 100%, 25.9%;
            --ws-color-success-900: 127, 100%, 19.8%;
            --ws-color-text-black: 216, 12%, 8%;
            --ws-color-text-white: 0, 0%, 100%;
            --ws-cookie-banner-background-color: 208, 25%, 10%;
            --ws-cookie-banner-text-color: var(--ws-color-text-white);
            --ws-cookie-banner-button-hover-background-color: var(--ws-color-text-black);
            --ws-cookie-banner-link-visited-color: 0, 0%, 69%
          }

          .ws-language-listbox,
          [data-surface].ws-light-0 {
            --ws-surface-form-date-time-picker-wrapper-background-color: var(--ws-color-text-white);
            --ws-surface-form-date-time-picker-current-month-color: var(--ws-color-text-black);
            --ws-surface-form-date-time-picker-line-color: var(--ws-color-light-100);
            --ws-surface-form-date-time-picker-current-day-color: var(--ws-color-text-white);
            --ws-surface-form-date-time-picker-current-day-background: var(--ws-color-primary-900);
            --ws-surface-form-date-time-picker-current-day-background-hover: var(--ws-color-light-50);
            --ws-surface-form-date-time-picker-icon-color: var(--ws-color-primary-900);
            --ws-surface-form-date-time-picker-icon-hover-color: var(--ws-color-primary-800);
            --ws-surface-form-date-time-picker-other-month-color: var(--ws-color-text-black);
            --ws-surface-form-date-time-picker-other-month-color-opacity: 0.32;
            --ws-surface-form-date-time-picker-weekday-color: var(--ws-color-text-black);
            --ws-surface-form-date-time-picker-weekday-color-opacity: 0.6;
            --ws-surface-form-time-picker-background-color: var(--ws-color-text-white);
            --ws-surface-form-time-picker-background-hover: var(--ws-color-light-50);
            --ws-surface-form-time-picker-color: var(--ws-color-text-black);
            --ws-surface-form-time-picker-line-color: var(--ws-color-light-100);
            --ws-surface-background-color: var(--ws-color-light-0);
            --ws-surface-border-color: var(--ws-color-light-300);
            --ws-surface-focus-outline-color: var(--ws-color-info-100);
            --ws-surface-focus-outline-color-opacity: 1;
            --ws-surface-error-focus-outline-color: var(--ws-color-error-100);
            --ws-surface-error-focus-outline-color-opacity: 1;
            --ws-surface-primary-button-1-background-color: var(--ws-color-primary-800);
            --ws-surface-primary-button-1-background-opacity: 1;
            --ws-surface-primary-button-1-text-color: var(--ws-color-text-white);
            --ws-surface-primary-button-1-text-color-opacity: 1;
            --ws-surface-primary-button-1-border-color: var(--ws-color-primary-800);
            --ws-surface-primary-button-1-border-opacity: 1;
            --ws-surface-primary-button-1-hover-background-color: var(--ws-color-primary-700);
            --ws-surface-primary-button-1-hover-background-opacity: 1;
            --ws-surface-primary-button-1-hover-text-color: var(--ws-color-text-white);
            --ws-surface-primary-button-1-hover-text-color-opacity: 1;
            --ws-surface-primary-button-1-hover-border-color: var(--ws-color-primary-700);
            --ws-surface-primary-button-1-hover-border-opacity: 1;
            --ws-surface-primary-button-1-active-background-color: var(--ws-color-primary-900);
            --ws-surface-primary-button-1-active-background-opacity: 1;
            --ws-surface-primary-button-1-active-text-color: var(--ws-color-text-white);
            --ws-surface-primary-button-1-active-text-color-opacity: 1;
            --ws-surface-primary-button-1-active-border-color: var(--ws-color-primary-900);
            --ws-surface-primary-button-1-active-border-opacity: 1;
            --ws-surface-primary-button-1-disabled-background-color: var(--ws-color-primary-800);
            --ws-surface-primary-button-1-disabled-background-opacity: 0.04;
            --ws-surface-primary-button-1-disabled-text-color: var(--ws-color-text-black);
            --ws-surface-primary-button-1-disabled-text-color-opacity: 0.32;
            --ws-surface-primary-button-1-disabled-border-color: var(--ws-color-primary-800);
            --ws-surface-primary-button-1-disabled-border-opacity: 0.04;
            --ws-surface-primary-button-2-background-color: var(--ws-color-primary-800);
            --ws-surface-primary-button-2-background-opacity: 0;
            --ws-surface-primary-button-2-icon-background-color: var(--ws-color-primary-800);
            --ws-surface-primary-button-2-icon-background-opacity: 1;
            --ws-surface-primary-button-2-icon-color: var(--ws-color-text-white);
            --ws-surface-primary-button-2-icon-opacity: 1;
            --ws-surface-primary-button-2-text-color: var(--ws-color-primary-800);
            --ws-surface-primary-button-2-text-color-opacity: 1;
            --ws-surface-primary-button-2-border-color: var(--ws-color-primary-800);
            --ws-surface-primary-button-2-border-opacity: 0;
            --ws-surface-primary-button-2-hover-background-color: 30, 83%, 50%;
            --ws-surface-primary-button-2-hover-background-opacity: 0;
            --ws-surface-primary-button-2-hover-icon-background-color: 30, 83%, 50%;
            --ws-surface-primary-button-2-hover-icon-background-opacity: 1;
            --ws-surface-primary-button-2-hover-icon-color: var(--ws-color-text-white);
            --ws-surface-primary-button-2-hover-icon-opacity: 1;
            --ws-surface-primary-button-2-hover-text-color: 30, 83%, 50%;
            --ws-surface-primary-button-2-hover-text-color-opacity: 1;
            --ws-surface-primary-button-2-hover-border-color: 30, 83%, 50%;
            --ws-surface-primary-button-2-hover-border-opacity: 0;
            --ws-surface-primary-button-2-active-background-color: 22, 87%, 45%;
            --ws-surface-primary-button-2-active-background-opacity: 0;
            --ws-surface-primary-button-2-active-icon-background-color: 22, 87%, 45%;
            --ws-surface-primary-button-2-active-icon-background-opacity: 1;
            --ws-surface-primary-button-2-active-icon-color: var(--ws-color-text-white);
            --ws-surface-primary-button-2-active-icon-opacity: 1;
            --ws-surface-primary-button-2-active-text-color: 22, 87%, 45%;
            --ws-surface-primary-button-2-active-text-color-opacity: 1;
            --ws-surface-primary-button-2-active-border-color: 22, 87%, 45%;
            --ws-surface-primary-button-2-active-border-opacity: 0;
            --ws-surface-primary-button-2-disabled-background-color: var(--ws-color-primary-800);
            --ws-surface-primary-button-2-disabled-background-opacity: 0;
            --ws-surface-primary-button-2-disabled-icon-background-color: var(--ws-color-primary-800);
            --ws-surface-primary-button-2-disabled-icon-background-opacity: 0.04;
            --ws-surface-primary-button-2-disabled-icon-color: var(--ws-color-text-white);
            --ws-surface-primary-button-2-disabled-icon-opacity: 0.15;
            --ws-surface-primary-button-2-disabled-text-color: var(--ws-color-primary-800);
            --ws-surface-primary-button-2-disabled-text-color-opacity: 0.61;
            --ws-surface-primary-button-2-disabled-border-color: var(--ws-color-primary-800);
            --ws-surface-primary-button-2-disabled-border-opacity: 0;
            --ws-surface-secondary-button-1-background-color: var(--ws-color-light-200);
            --ws-surface-secondary-button-1-background-opacity: 1;
            --ws-surface-secondary-button-1-text-color: var(--ws-color-dark-800);
            --ws-surface-secondary-button-1-text-color-opacity: 1;
            --ws-surface-secondary-button-1-border-color: var(--ws-color-light-200);
            --ws-surface-secondary-button-1-border-opacity: 1;
            --ws-surface-secondary-button-1-hover-background-color: var(--ws-color-light-200);
            --ws-surface-secondary-button-1-hover-background-opacity: 0.4;
            --ws-surface-secondary-button-1-hover-text-color: var(--ws-color-dark-800);
            --ws-surface-secondary-button-1-hover-text-color-opacity: 1;
            --ws-surface-secondary-button-1-hover-border-color: var(--ws-color-light-200);
            --ws-surface-secondary-button-1-hover-border-opacity: 0.4;
            --ws-surface-secondary-button-1-active-background-color: var(--ws-color-light-200);
            --ws-surface-secondary-button-1-active-background-opacity: 0.4;
            --ws-surface-secondary-button-1-active-text-color: var(--ws-color-dark-800);
            --ws-surface-secondary-button-1-active-text-color-opacity: 1;
            --ws-surface-secondary-button-1-active-border-color: var(--ws-color-light-200);
            --ws-surface-secondary-button-1-active-border-opacity: 0.4;
            --ws-surface-secondary-button-1-disabled-background-color: var(--ws-color-light-200);
            --ws-surface-secondary-button-1-disabled-background-opacity: 0.31;
            --ws-surface-secondary-button-1-disabled-text-color: var(--ws-color-dark-800);
            --ws-surface-secondary-button-1-disabled-text-color-opacity: 0.32;
            --ws-surface-secondary-button-1-disabled-border-color: var(--ws-color-light-200);
            --ws-surface-secondary-button-1-disabled-border-opacity: 0.31;
            --ws-surface-secondary-button-2-background-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-2-background-opacity: 0;
            --ws-surface-secondary-button-2-text-color: var(--ws-color-dark-800);
            --ws-surface-secondary-button-2-text-color-opacity: 1;
            --ws-surface-secondary-button-2-border-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-2-border-opacity: 1;
            --ws-surface-secondary-button-2-hover-background-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-2-hover-background-opacity: 1;
            --ws-surface-secondary-button-2-hover-text-color: var(--ws-color-text-white);
            --ws-surface-secondary-button-2-hover-text-color-opacity: 1;
            --ws-surface-secondary-button-2-hover-border-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-2-hover-border-opacity: 1;
            --ws-surface-secondary-button-2-active-background-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-2-active-background-opacity: 1;
            --ws-surface-secondary-button-2-active-text-color: var(--ws-color-text-white);
            --ws-surface-secondary-button-2-active-text-color-opacity: 1;
            --ws-surface-secondary-button-2-active-border-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-2-active-border-opacity: 1;
            --ws-surface-secondary-button-2-disabled-background-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-2-disabled-background-opacity: 0;
            --ws-surface-secondary-button-2-disabled-text-color: var(--ws-color-dark-800);
            --ws-surface-secondary-button-2-disabled-text-color-opacity: 0.32;
            --ws-surface-secondary-button-2-disabled-border-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-2-disabled-border-opacity: 0.04;
            --ws-surface-secondary-button-3-background-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-3-background-opacity: 0;
            --ws-surface-secondary-button-3-text-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-3-text-color-opacity: 1;
            --ws-surface-secondary-button-3-border-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-3-border-opacity: 1;
            --ws-surface-secondary-button-3-hover-background-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-3-hover-background-opacity: 1;
            --ws-surface-secondary-button-3-hover-text-color: var(--ws-color-text-white);
            --ws-surface-secondary-button-3-hover-text-color-opacity: 1;
            --ws-surface-secondary-button-3-hover-border-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-3-hover-border-opacity: 1;
            --ws-surface-secondary-button-3-active-background-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-3-active-background-opacity: 1;
            --ws-surface-secondary-button-3-active-text-color: var(--ws-color-text-white);
            --ws-surface-secondary-button-3-active-text-color-opacity: 1;
            --ws-surface-secondary-button-3-active-border-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-3-active-border-opacity: 1;
            --ws-surface-secondary-button-3-disabled-background-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-3-disabled-background-opacity: 0;
            --ws-surface-secondary-button-3-disabled-text-color: var(--ws-color-dark-800);
            --ws-surface-secondary-button-3-disabled-text-color-opacity: 0.32;
            --ws-surface-secondary-button-3-disabled-border-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-3-disabled-border-opacity: 0.04;
            --ws-surface-secondary-button-4-background-color: var(--ws-color-light-200);
            --ws-surface-secondary-button-4-background-opacity: 0;
            --ws-surface-secondary-button-4-text-color: var(--ws-color-dark-800);
            --ws-surface-secondary-button-4-text-color-opacity: 1;
            --ws-surface-secondary-button-4-border-color: var(--ws-color-light-200);
            --ws-surface-secondary-button-4-border-opacity: 1;
            --ws-surface-secondary-button-4-hover-background-color: var(--ws-color-light-200);
            --ws-surface-secondary-button-4-hover-background-opacity: 1;
            --ws-surface-secondary-button-4-hover-text-color: var(--ws-color-dark-800);
            --ws-surface-secondary-button-4-hover-text-color-opacity: 1;
            --ws-surface-secondary-button-4-hover-border-color: var(--ws-color-light-200);
            --ws-surface-secondary-button-4-hover-border-opacity: 1;
            --ws-surface-secondary-button-4-active-background-color: var(--ws-color-light-200);
            --ws-surface-secondary-button-4-active-background-opacity: 1;
            --ws-surface-secondary-button-4-active-text-color: var(--ws-color-dark-800);
            --ws-surface-secondary-button-4-active-text-color-opacity: 1;
            --ws-surface-secondary-button-4-active-border-color: var(--ws-color-light-200);
            --ws-surface-secondary-button-4-active-border-opacity: 1;
            --ws-surface-secondary-button-4-disabled-background-color: var(--ws-color-light-200);
            --ws-surface-secondary-button-4-disabled-background-opacity: 0;
            --ws-surface-secondary-button-4-disabled-text-color: var(--ws-color-dark-800);
            --ws-surface-secondary-button-4-disabled-text-color-opacity: 0.32;
            --ws-surface-secondary-button-4-disabled-border-color: var(--ws-color-light-200);
            --ws-surface-secondary-button-4-disabled-border-opacity: 0.31;
            --ws-surface-secondary-button-5-background-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-5-background-opacity: 1;
            --ws-surface-secondary-button-5-text-color: var(--ws-color-light-0);
            --ws-surface-secondary-button-5-text-color-opacity: 1;
            --ws-surface-secondary-button-5-border-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-5-border-opacity: 1;
            --ws-surface-secondary-button-5-hover-background-color: var(--ws-color-primary-700);
            --ws-surface-secondary-button-5-hover-background-opacity: 1;
            --ws-surface-secondary-button-5-hover-text-color: var(--ws-color-light-0);
            --ws-surface-secondary-button-5-hover-text-color-opacity: 1;
            --ws-surface-secondary-button-5-hover-border-color: var(--ws-color-primary-700);
            --ws-surface-secondary-button-5-hover-border-opacity: 1;
            --ws-surface-secondary-button-5-active-background-color: var(--ws-color-primary-900);
            --ws-surface-secondary-button-5-active-background-opacity: 1;
            --ws-surface-secondary-button-5-active-text-color: var(--ws-color-light-0);
            --ws-surface-secondary-button-5-active-text-color-opacity: 1;
            --ws-surface-secondary-button-5-active-border-color: var(--ws-color-primary-900);
            --ws-surface-secondary-button-5-active-border-opacity: 1;
            --ws-surface-secondary-button-5-disabled-background-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-5-disabled-background-opacity: 0.03;
            --ws-surface-secondary-button-5-disabled-text-color: var(--ws-color-dark-800);
            --ws-surface-secondary-button-5-disabled-text-color-opacity: 0.32;
            --ws-surface-secondary-button-5-disabled-border-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-5-disabled-border-opacity: 0.03;
            --ws-surface-secondary-button-6-background-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-6-background-opacity: 0;
            --ws-surface-secondary-button-6-text-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-6-text-color-opacity: 1;
            --ws-surface-secondary-button-6-border-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-6-border-opacity: 0;
            --ws-surface-secondary-button-6-hover-background-color: 30, 83%, 50%;
            --ws-surface-secondary-button-6-hover-background-opacity: 0;
            --ws-surface-secondary-button-6-hover-text-color: 30, 83%, 50%;
            --ws-surface-secondary-button-6-hover-text-color-opacity: 1;
            --ws-surface-secondary-button-6-hover-border-color: 30, 83%, 50%;
            --ws-surface-secondary-button-6-hover-border-opacity: 0;
            --ws-surface-secondary-button-6-active-background-color: 22, 87%, 45%;
            --ws-surface-secondary-button-6-active-background-opacity: 0;
            --ws-surface-secondary-button-6-active-text-color: 22, 87%, 45%;
            --ws-surface-secondary-button-6-active-text-color-opacity: 1;
            --ws-surface-secondary-button-6-active-border-color: 22, 87%, 45%;
            --ws-surface-secondary-button-6-active-border-opacity: 0;
            --ws-surface-secondary-button-6-disabled-background-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-6-disabled-background-opacity: 0;
            --ws-surface-secondary-button-6-disabled-text-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-6-disabled-text-color-opacity: 0.61;
            --ws-surface-secondary-button-6-disabled-border-color: var(--ws-color-primary-800);
            --ws-surface-secondary-button-6-disabled-border-opacity: 0;
            --ws-surface-text-color: var(--ws-color-text-black);
            --ws-surface-text-high-emphasis-opacity: 1;
            --ws-surface-text-medium-emphasis-opacity: 0.6;
            --ws-surface-text-disabled-emphasis-opacity: 0.32;
            --ws-surface-link-text-color: var(--ws-color-secondary-900);
            --ws-surface-link-text-color-opacity: 1;
            --ws-surface-link-hover-text-color: var(--ws-color-secondary-800);
            --ws-surface-link-hover-text-color-opacity: 1;
            --ws-surface-footer-link-text-color: var(--ws-color-text-black);
            --ws-surface-footer-link-text-color-opacity: 1;
            --ws-surface-footer-link-hover-text-color: var(--ws-color-primary-700);
            --ws-surface-footer-link-hover-text-color-opacity: 1;
            --ws-surface-highlighter-text-color: var(--ws-color-text-white);
            --ws-surface-highlighter-background-color: var(--ws-color-secondary-800);
            --ws-surface-mark-text-color: var(--ws-color-dark-800);
            --ws-surface-mark-text-color-opacity: 1;
            --ws-surface-form-input-border-color: var(--ws-color-light-300);
            --ws-surface-form-input-border-color-opacity: 1;
            --ws-surface-form-input-focus-border-color: var(--ws-color-info-400);
            --ws-surface-form-input-focus-border-color-opacity: 1;
            --ws-surface-form-input-disabled-border-color: var(--ws-color-light-300);
            --ws-surface-form-input-disabled-border-color-opacity: 0.51;
            --ws-surface-form-input-error-border-color: var(--ws-color-error-400);
            --ws-surface-form-input-error-border-color-opacity: 1;
            --ws-surface-form-validation-error-text-color: var(--ws-color-error-400);
            --ws-surface-form-checkbox-icon-color: var(--ws-color-light-0);
            --ws-surface-form-checkbox-icon-color-opacity: 1;
            --ws-surface-form-checkbox-background-color: var(--ws-color-light-50);
            --ws-surface-form-checkbox-background-color-opacity: 1;
            --ws-surface-form-checkbox-border-color: var(--ws-color-light-300);
            --ws-surface-form-checkbox-border-color-opacity: 1;
            --ws-surface-form-checkbox-checked-background-color: var(--ws-color-secondary-900);
            --ws-surface-form-checkbox-checked-background-color-opacity: 1;
            --ws-surface-form-checkbox-checked-border-color: var(--ws-color-secondary-900);
            --ws-surface-form-checkbox-checked-border-color-opacity: 1;
            --ws-surface-form-checkbox-disabled-border-color: var(--ws-color-light-300);
            --ws-surface-form-checkbox-disabled-border-color-opacity: 0.51;
            --ws-surface-form-checkbox-disabled-background-color: var(--ws-color-light-50);
            --ws-surface-form-checkbox-disabled-background-color-opacity: 0.51;
            --ws-surface-social-icon-color: var(--ws-color-secondary-900);
            --ws-surface-social-icon-hover-color: var(--ws-color-secondary-800);
            --ws-surface-social-icon-hover-color-opacity: 1;
            --ws-surface-feature-icon-color: var(--ws-color-secondary-900);
            --ws-surface-feature-link-color: var(--ws-color-secondary-900);
            --ws-surface-feature-link-color-opacity: 1;
            --ws-surface-feature-link-hover-color: var(--ws-color-secondary-800);
            --ws-surface-feature-link-hover-color-opacity: 1;
            --ws-surface-contact-icon-color: var(--ws-color-text-black);
            --ws-surface-contact-icon-color-opacity: 0.6;
            --ws-surface-m-table-with-buttons-thead-border-color: var(--ws-color-text-black);
            --ws-surface-m-table-with-buttons-thead-border-color-opacity: 1;
            --ws-surface-m-table-with-buttons-border-color: var(--ws-color-light-300);
            --ws-surface-m-table-with-buttons-border-color-opacity: 1;
            --ws-surface-tag-color: var(--ws-color-text-black);
            --ws-surface-tag-color-opacity: 0.62;
            --ws-surface-tag-background-color: var(--ws-color-light-200);
            --ws-surface-tag-background-color-opacity: 1;
            --ws-surface-counter-text-color: var(--ws-color-secondary-900);
            --ws-surface-counter-text-opacity: 1;
            --ws-surface-m-phone-color: var(--ws-color-secondary-900);
            --ws-surface-m-nav-link-color: var(--ws-color-text-black);
            --ws-surface-m-nav-link-color-opacity: 1;
            --ws-surface-m-nav-link-hover-color: var(--ws-color-primary-700);
            --ws-surface-m-nav-link-hover-color-opacity: 1;
            --ws-surface-m-nav-link-active-color: var(--ws-color-primary-900);
            --ws-surface-m-nav-link-active-color-opacity: 1;
            --ws-surface-dropdown-arrow-color: var(--ws-color-text-black);
            --ws-surface-dropdown-arrow-disabled-color: var(--ws-color-text-black);
            --ws-surface-dropdown-list-background: var(--ws-color-light-0);
            --ws-surface-dropdown-list-row-background: var(--ws-color-light-0);
            --ws-surface-dropdown-list-row-hover-background: var(--ws-color-light-50);
            --ws-surface-dropdown-list-row-selected-background: var(--ws-color-primary-800);
            --ws-surface-dropdown-list-text-color: var(--ws-color-text-black);
            --ws-surface-dropdown-list-text-hover-color: var(--ws-color-text-black);
            --ws-surface-dropdown-list-text-selected-color: var(--ws-color-text-white);
            --ws-surface-dropdown-text-color: var(--ws-color-text-black);
            --ws-surface-dropdown-disabled-color: var(--ws-color-text-black);
            --ws-surface-site-name-color: var(--ws-color-text-black);
            --ws-surface-site-name-color-opacity: 1;
            --ws-surface-heading-1-color: var(--ws-color-text-black);
            --ws-surface-heading-1-color-opacity: 1;
            --ws-surface-heading-2-color: var(--ws-color-text-black);
            --ws-surface-heading-2-color-opacity: 1;
            --ws-surface-heading-3-color: var(--ws-color-text-black);
            --ws-surface-heading-3-color-opacity: 1;
            --ws-surface-heading-4-color: var(--ws-color-text-black);
            --ws-surface-heading-4-color-opacity: 1;
            --ws-surface-heading-5-color: var(--ws-color-text-black);
            --ws-surface-heading-5-color-opacity: 1;
            --ws-surface-heading-6-color: var(--ws-color-text-black);
            --ws-surface-heading-6-color-opacity: 0.6;
            --ws-surface-paragraph-color: var(--ws-color-text-black);
            --ws-surface-paragraph-color-opacity: 0.6;
            --ws-surface-blockquote-color: var(--ws-color-text-black);
            --ws-surface-blockquote-color-opacity: 1;
            --ws-surface-decoration-background-color: var(--ws-color-primary-800);
            --ws-surface-decoration-background-color-opacity: 1;
            --ws-surface-decoration-text-color: var(--ws-color-light-0)
          }